body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px #0073e6;
    padding: 30px;
    width: 300px;
    text-align: center;
}

.login-container h1 {
    color: #0073e6;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 1rem;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    color: #333;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group input, .input-group select {
    width: 90%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    background-color: #0073e6;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    width: 108%;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #005bb5;
}

.register-link {
    margin-top: 1rem;
}

.register-link a {
    color: #2575fc;
    text-decoration: none;
}

p {
    margin-top: 15px;
    color: #333;
}

p a {
    color: #0073e6;
    text-decoration: none;
    text-align: center;
}

p a:hover {
    text-decoration: underline;
}

.h1{
    color: #0073e6;
}